<table class="table">
  <thead class="table-dark">
  <tr>
    <th>number</th>
    <th>color</th>
    <th>
      result
    </th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input  #element placeholder="Nhập phép tính" (change)="excutes(element.value)" ></td>
    <td><input placeholder="Nhập màu" type="color" [(ngModel)]="color" ></td>
    <td><input  placeholder="Kết quả" [ngModel]="result" [style.color]="color"></td>
    <td><input type="button" value="tính" (click)="results()" ></td>
  </tr>
  </tbody>
</table>
